<!-- menu mobie right -->
<div id="mobile-pagemenu" class="mobile-boxpage d-flex hidden-md-up active d-md-none">
    <div class="content-boxpage col">
        <div class="box-header d-flex justify-content-between align-items-center">
            <div class="title-box">Menu</div>
            <div class="close-box">Close</div>
        </div>
        <div class="box-content">
            <nav>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div id="megamenu" class="clearfix">
                    <ul class="menu level1">
                        <li class="item home-page has-sub">
                            <span class="arrow collapsed" data-toggle="collapse" data-target="#home1" aria-expanded="true" role="status">
                                <i class="zmdi zmdi-minus"></i>
                                <i class="zmdi zmdi-plus"></i>
                            </span>
                            <a href="{% url '' %}" title="Home">
                                <i class="fa fa-home" aria-hidden="true"></i>Home</a>
                        </li>
                        <li class="item has-sub">
                            <a href="{% url 'shop' %}" title="Shop">
                                <i class="fa fa-address-book" aria-hidden="true"></i>Shop</a>
                        </li>
                        <li class="item has-sub">
                            <a href="{% url 'aboutus' %}" title="About Us">
                                <i class="fa fa-address-book" aria-hidden="true"></i>About Us</a>
                        </li>
                        <li class="item has-sub">
                            <a href="{% url 'contactus' %}" title="Contact us">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>Contact us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>