{% extends 'adminDashboard/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<style>
  label{
    font-weight: bold;
  }
</style>

<!-- Add these links in the head section of your HTML file -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-fileinput/dist/css/fileinput.min.css">
<script src="https://code.jquery.com/jquery-3.6.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-fileinput/dist/js/plugins/piexif.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-fileinput/dist/js/fileinput.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-fileinput/dist/js/locales/LANG.js"></script>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add New Product</h6>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container register-form">
              <div class="form">
                <div class="form-content">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Product Name*</label>
                        {% render_field productForm.name class="form-control" placeholder="Product Name" %}
                      </div>
                      <div class="form-group">
                        <label for="">Short Description*</label>
                        {% render_field productForm.short_description class="form-control" placeholder="Short Description" %}
                      </div>
                      <div class="form-group">
                        <label for="">Long Description*</label>
                        {% render_field productForm.long_description class="form-control" placeholder="Long Description" %}
                      </div>
                      <div class="form-group">
                        <label for="">Category*</label>
                        {% render_field productForm.category class="form-control" placeholder="Category" %}
                      </div>
                      <div class="form-group">
                        <label for="">Sub Category*</label>
                        {% render_field productForm.subcategory class="form-control" placeholder="Sub Category" %}
                      </div>
          
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Is Featured*</label>
                        {% render_field productForm.featured class="form-control" placeholder="" %}
                        <label for="">Deal of the day*</label>
                        {% render_field productForm.deal_of_the_day class="form-control" placeholder="" %}
                        <label for="">Is Best Seller*</label>
                        {% render_field productForm.best_seller class="form-control" placeholder="" %}
                        <label for="">Is New Arrival*</label>
                        {% render_field productForm.new_arrival class="form-control" placeholder="" %}
                        <label for="">Is Trending*</label>
                        {% render_field productForm.trending class="form-control" placeholder="" %}
                        <label for="">Is Top Rated*</label>
                        {% render_field productForm.top_rated class="form-control" placeholder="" %}
                        <label for="">Inventory*</label>
                        {% render_field productForm.inventory class="form-control" placeholder="" %}
                        <label for="">Stock Number*</label>
                        {% render_field productForm.number_in_stock class="form-control" placeholder="" %}
                      </div>
   
                        <div class="form-group">
                          <label for="">Selling Price (UGX)*</label>
                          {% render_field productForm.selling_price class="form-control" placeholder="0" %}
                        </div>
                        <div class="form-group">
                          <label for="">Discount Price (UGX)*</label>
                          {% render_field productForm.discount_price class="form-control" placeholder="0" %}
                        </div>

                        <div class="form-group">
                          <label for="">Product Images*</label>
                          <input type="file" name="images" id="productImages" class="file-input" multiple>
                      </div>
              
                      
          
          
                    </div>
                  </div>
                  <button class="btnSubmit btn btn-success btn-icon-split" type="submit">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Add Product</span>
                </button>
                  
                </div>
              </div>
            </div>
          </form>
    </div>
</div>



<script>
  $(document).ready(function () {
      // Initialize the file input plugin
      $("#productImages").fileinput({
          theme: 'fas',
          showUpload: false, // Hide the upload button if you don't need it
          showRemove: false, // Hide the remove button if you don't need it
          allowedFileTypes: ['image'],
          browseClass: 'btn btn-primary',
          browseLabel: 'Select Images',
          browseIcon: '<i class="fas fa-images"></i>',
          previewFileType: 'image',
          initialPreviewAsData: true,
          initialPreview: [], // You can set initial preview images if needed
      });
  });
</script>

{% endblock %}