
{% extends 'ecom/base.html' %}
{% load widget_tweaks %}

{% load static %}
{% block content %}

<style>
 .card {
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    padding: 12px;
    font-size: 16px;
    border: none; /* Remove the default border */
    border-bottom: 1px solid black; /* Add a bottom border */
    background-color: transparent; /* Make the background transparent */
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: grey;
    border: 1px solid grey; /* Add a border to the button */
    padding: 12px;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: grey;
    border: 1px solid grey;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

</style>

<div class="card">
    <form method="post">
        {% csrf_token %}
        <h1 class="text-center">Admin Login</h1>

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="form-group">
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password }}
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-block" value="Login">
        </div>
    </form>
</div>

<br><br>
{% endblock %}
