{% extends 'adminDashboard/base.html' %}
{% load static %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Latest Orders</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Latest Orders Table</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Customer</th>
                            <th>Contact</th>
                            <th>Shipping Address</th>
                            <th>Products</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Customer</th>
                            <th>Contact</th>
                            <th>Shipping Address</th>
                            <th>Products</th>
                            <th>Status</th>
                        </tr>
                    </tfoot>
                    {% for product,customer,order in data %}
                    <tbody>
                        <tr>
                            {% for c in customer %}
                                <td>{{c.get_name}}</td>
                                <td>{{c.mobile}}</td>
                                <td>{{order.address}}</td>
                            {% endfor %}
                            
                            {% for p in product %}
                                <td>{{p.name}}</td>
                                {% if order.status == 'Pending'%}
                                    <td> <span class="label label-info">{{order.status}}</span></td>
                                {% elif order.status == 'Delivered' %}
                                    <td> <span class="label label-success">{{order.status}}</span></td>
                                {% elif order.status == 'Out for Delivery' %}
                                    <td> <span class="label label-warning">{{order.status}}</span></td>
                                {%else%}
                                    <td> <span class="label label-primary">{{order.status}}</span></td>
                                {%endif%}
                            {%endfor%}
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{%  endblock %}