{% extends 'adminDashboard/base.html' %}
{% load static %}
{% block content %}


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Products</h6>
        <a href="/admin-add-product" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><span class="text">Add New Product</span> </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
      
                <tbody>
                    {% if products %}
                    {% for p in products %}
                        <tr>
                            <td>{{ p.name }}</td>
                            <td>
                                {% if p.product_image %}
                                    <img src="{% static p.product_image.url %}" alt="Image Profile" height="40px" width="40px" />
                                {% endif %}
                            </td>
                            <td>{{ p.price }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="{% url 'update-product' p.id %}"><i class="fas fa-info-circle"></i></a>
                                <a class="btn btn-danger btn-sm" href="{% url 'delete-product' p.id %}"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">
                            <h1>No Products!!</h1>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
             
            </table>
        </div>
    </div>
</div>

{% endblock %}