
{% extends 'adminDashboard/base.html' %}
{% load static %}
{% block content %}


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Registered Customers</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Picture</th>
                        <th>Contact</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                </thead>
      
                <tbody>
                    {% if customers %}
                    {% for c in customers %}
                        <tr>
                            <td>{{ c.user }}</td>
                            <td>
                                {% if c.profile_pic %}
                                    <img src="{% static c.profile_pic.url %}" alt="Image Profile" height="40px" width="40px" />
                                {% endif %}
                            </td>
                            <td>{{ c.mobile }}</td>
                            <td>{{ c.address }}</td>
                           
                              <td><a class="btn btn-primary btn-xs" href="{% url 'update-customer' c.id  %}"><i class="fas fa-info-circle"></i></a>
                                <a class="btn btn-danger btn-xs" href="{% url 'delete-customer' c.id  %}"><i class="fas fa-trash"></i></a></td>
                            
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">
                            <h1>No Customers!!</h1>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
             
            </table>
        </div>
    </div>
</div>

{% endblock %}
