{% extends 'ecom/base.html'%}
{% load static %}

{% block content %}
<br><br><br><br><br>
<div class="main-content">
  <div id="wrapper-site">
    <div id="content-wrapper">
      
      <!-- breadcrumb -->
      <nav class="breadcrumb-bg">
        <div class="container no-index">
          <div class="breadcrumb">
            <ol>
              <li>
                <a href="#">
                  <span>Home</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>About us</span>
                </a>
              </li>
            </ol>
          </div>
        </div>
      </nav>
      <div id="main">
        <div class="page-home">
          <div class="container">
            <div class="about-us-content">
              
              <h1 class="title-page">About Us</h1>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 right">
                  <a href="#">
                    <img class="img-fluid" src="{% static 'banner-images/banner4.jpg'%}" alt="#">
                  </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 left">
                  <div class="cms-block f-right">
                    <h3 class="page-subheading">WHO WE ARE</h3>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem quis biben
                      dum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis
                      sed odio sit amet nibh vultate cursus a sit amet mauris. Duis sed odio sit
                    amet nibh vultate cursus a sit amet mauris.</p>
                    <p>Proin gravida nibh vel velit auctor aliquet. nec sagittis sem nibh id elit. Duis
                      sed odio sit amet nibh vultate cursus a sit amet mauris. Duis sed odio sit
                    amet nibh vultate cursus a sit amet mauris.</p>
                    <a>
                      <img class="img-fluid" src="{% static 'banner-images/banner3.jpg'%}" alt="#">
                      <span>Mr. kwang shang - CEO</span>
                    </a>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 right">
                  <div class="cms-block f-left">
                    <h3 class="page-subheading">WHAT WE DO</h3>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem quis biben
                      dum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis
                      sed odio sit amet nibh vultate cursus a sit amet mauris. Duis sed odio sit
                    amet nibh vultate cursus a sit amet mauris.</p>
                    <p>Proin gravida nibh vel velit auctor aliquet, nec sagittis sem nibh id elit. Duis
                      sed odio sit amet nibh vultate cursus a sit amet mauris. Duis sed odio sit
                    amet nibh vultate cursus a sit amet mauris.</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 left">
                  <a href="#">
                    <img class="img-fluid" src="" alt="#">
                  </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 right">
                  <a href="#">
                    <img class="img-fluid" src="{% static 'banner-images/banner3.jpg'%}" alt="#">
                  </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 left">
                  <div class="cms-block f-right">
                    <h3 class="page-subheading no-before">MEET OUR TEAM</h3>
                    <div class="testimonials owl-carousel owl-theme owl-loaded owl-drag">
                      
                      
                      
                      
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2425px, 0px, 0px); transition: all 0.25s ease 0s; width: 3881px;"><div class="owl-item cloned" style="width: 475.003px; margin-right: 10px;"><div class="item">
                        <div class="name">Peter Capidal</div>
                        <div class="position">Front-end Developer</div>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem
                          quis biben dum auctor, nisi elit consequat ipsum, nec sagittis sem
                          nibh id elit. Duis sed odio sit amet nibh vultate cursus a sit amet
                          mauris. Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin,
                          lorem quis bibendum auctor, nisi elit conse quat ipsum
                        </p>
                      </div></div><div class="owl-item cloned" style="width: 475.003px; margin-right: 10px;"><div class="item">
                        <div class="name">David James</div>
                        <div class="position">Developer</div>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem
                          quis biben dum auctor, nisi elit consequat ipsum, nec sagittis sem
                          nibh id elit. Duis sed odio sit amet nibh vultate cursus a sit amet
                          mauris.Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin,
                          lorem quis bibendum auctor, nisi elit conse quat ipsum
                        </p>
                      </div></div><div class="owl-item" style="width: 475.003px; margin-right: 10px;"><div class="item">
                        <div class="name">William James</div>
                        <div class="position">Designer - Stylish</div>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem
                          quis biben dum auctor, nisi elit consequat ipsum, nec sagittis sem
                          nibh id elit. Duis sed odio sit amet nibh vultate cursus a sit amet
                          mauris. Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin,
                          lorem quis bibendum auctor, nisi elit conse quat ipsum
                        </p>
                      </div></div><div class="owl-item" style="width: 475.003px; margin-right: 10px;"><div class="item">
                        <div class="name">Seller Smith</div>
                        <div class="position">Web developer</div>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem
                          quis biben dum auctor, nisi elit consequat ipsum, nec sagittis sem
                          nibh id elit. Duis sed odio sit amet nibh vultate cursus a sit amet
                          mauris.
                        </p>
                      </div></div><div class="owl-item" style="width: 475.003px; margin-right: 10px;"><div class="item">
                        <div class="name">Peter Capidal</div>
                        <div class="position">Front-end Developer</div>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem
                          quis biben dum auctor, nisi elit consequat ipsum, nec sagittis sem
                          nibh id elit. Duis sed odio sit amet nibh vultate cursus a sit amet
                          mauris. Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin,
                          lorem quis bibendum auctor, nisi elit conse quat ipsum
                        </p>
                      </div></div><div class="owl-item active" style="width: 475.003px; margin-right: 10px;"><div class="item">
                        <div class="name">David James</div>
                        <div class="position">Developer</div>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem
                          quis biben dum auctor, nisi elit consequat ipsum, nec sagittis sem
                          nibh id elit. Duis sed odio sit amet nibh vultate cursus a sit amet
                          mauris.Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin,
                          lorem quis bibendum auctor, nisi elit conse quat ipsum
                        </p>
                      </div></div><div class="owl-item cloned" style="width: 475.003px; margin-right: 10px;"><div class="item">
                        <div class="name">William James</div>
                        <div class="position">Designer - Stylish</div>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem
                          quis biben dum auctor, nisi elit consequat ipsum, nec sagittis sem
                          nibh id elit. Duis sed odio sit amet nibh vultate cursus a sit amet
                          mauris. Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin,
                          lorem quis bibendum auctor, nisi elit conse quat ipsum
                        </p>
                      </div></div><div class="owl-item cloned" style="width: 475.003px; margin-right: 10px;"><div class="item">
                        <div class="name">Seller Smith</div>
                        <div class="position">Web developer</div>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin, lorem
                          quis biben dum auctor, nisi elit consequat ipsum, nec sagittis sem
                          nibh id elit. Duis sed odio sit amet nibh vultate cursus a sit amet
                          mauris.
                        </p>
                      </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div></div>
                    <div class="social-content">
                      <div class="social">
                        <ul class="list-inline mb-0 justify-content-end">
                          <li class="list-inline-item mb-0">
                            <a href="#" target="_blank">
                              <i class="fa fa-facebook"></i>
                            </a>
                          </li>
                          <li class="list-inline-item mb-0">
                            <a href="#" target="_blank">
                              <i class="fa fa-twitter"></i>
                            </a>
                          </li>
                          <li class="list-inline-item mb-0">
                            <a href="#" target="_blank">
                              <i class="fa fa-google"></i>
                            </a>
                          </li>
                          <li class="list-inline-item mb-0">
                            <a href="#" target="_blank">
                              <i class="fa fa-instagram"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>

{% endblock %}