{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Veikebeauty</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="{% static ''%}" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{% static '/assets/css/style-prefix.css'%}">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Latest version of Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>


</head>

<body>


  <style>
    .social-icons-container {
  display: flex;
  align-items: center; /* Optional: Align items vertically in the center */
}

.footer-nav-link {
  margin-right: 10px; /* Adjust as needed for spacing between icons */
}

.newsletter-form {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.email-field {
  margin-right: 10px; /* Adjust as needed for spacing between input and button */
}


  </style>



{%if request.user.is_authenticated%}
    {% include "ecom/auth_customer.html" %}
  {%else%}
  {% include "ecom/unauth_customer.html" %}
  {%endif%}

 




{% block content %}

{% endblock %}





  <!--
    - FOOTER
  -->

  <footer>


    <div class="footer-nav">

      <div class="container">

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Follow Us On Social Media</h2>
          </li>
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">
              Get social with @Veikebeauty<br>
              Be in the loop about our<br>
              new launches, how-to videos, <br>
              and share your posts with us! <br>
              #Veikebeauty
            </a>
          </li>
          <div class="social-icons-container">
            <a href="#" class="footer-nav-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
            <a href="#" class="footer-nav-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
            <a href="#" class="footer-nav-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
            <a href="#" class="footer-nav-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </div>
          
          

        </ul>

        

        <ul class="footer-nav-list">
        
          <li class="footer-nav-item">
            <h2 class="nav-title">Customer Service</h2>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Shipping Policy</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Privacy Policy</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Terms and conditions</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">About us</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Secure payment</a>
          </li>
        
        </ul>

  

        <ul class="footer-nav-list">
          <li>
            <form action="#">
              <div class="newsletter-header">
                <h3 class="newsletter-title" style="color: aliceblue;">Subscribe Newsletter.</h3>
                <p class="newsletter-desc">
                  Subscribe to <b>Veikebeauty</b> and receive updates, access to exclusive deals, and more.
                </p>
              </div>
            
              <div class="newsletter-form">
                <input type="email" name="email" class="email-field" placeholder="Email Address" required>
                <button type="submit" class="btn-newsletter">Subscribe</button>
              </div>
            </form>
            
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Follow Us</h2>
          </li>

          <li>
            <ul class="social-link">

              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>

              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>

              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>

              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

            </ul>
          </li>
         

        </ul>

      </div>

    </div>

    <div class="footer-bottom">

      <div class="container">

        <img src="{% static '/assets/images/payment.png'%}" alt="payment method" class="payment-img">

        <p class="copyright">
          Copyright &copy; <a href="#">Veikebeauty</a> all rights reserved.
        </p>

      </div>

    </div>

  </footer>






  <!--
    - custom js link
  -->
  <script src="{% static '/assets/js/script.js'%}"></script>

  <!--
    - ionicon link
  -->

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>