{% extends 'ecom/base.html' %}
{% load static %}

{% block content %}

<style>


.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

:root {
    /* //....... Color ........// */
    --primary-color: #ff3c78;
    --light-black: rgba(0, 0, 0, 0.89);
    --black: #000;
    --white: #fff;
    --grey: #aaa;
}

.contact {
    margin-top: 45px;
}

.form {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.form .form-txt {
    flex-basis: 48%;
}

.form .form-txt h1 {
    font-weight: 600;
    color: var(--black);
    font-size: 40px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    color: var(--light-black);
}

.form .form-txt span {
    color: var(--light-black);
    font-size: 14px;
}

.form .form-txt h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 15px 0;
    color: var(--light-black);
}

.form .form-txt p {
    color: var(--light-black);
    font-size: 14px;
}

.form .form-details {
    flex-basis: 48%;
}

.form .form-details input[type="text"],
.form .form-details input[type="email"] {
    padding: 15px 20px;
    color: var(--black);
    outline: none;
    border: 1px solid var(--grey);
    margin: 35px 15px;
    font-size: 14px;
}

.form .form-details textarea {
    padding: 15px 20px;
    margin: 0 15px;
    color: var(--black);
    outline: none;
    border: 1px solid var(--grey);
    font-size: 14px;
    resize: none;
}

.form .form-details button {
    padding: 15px 25px;
    color: var(--white);
    font-weight: 500;
    background: var(--black);
    outline: none;
    border: none;
    margin: 15px;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .form {
        display: flex;
        flex-direction: column;
    }
    .form .form-details button {
        margin-left: 0;
    }
    .form .form-details input[type="text"],
    .form .form-details input[type="email"],
    .form .form-details textarea {
        width: 100%;
        margin-left: 0;
    }
    .form .form-details input[type="text"] {
        margin-bottom: 0px;
    }
}

@media(min-width: 501px) and (max-width: 768px) {
    .form {
        display: flex;
        flex-direction: column;
    }
    .form .form-details button {
        margin-left: 0;
    }
    .form .form-details input[type="text"],
    .form .form-details input[type="email"],
    .form .form-details textarea {
        width: 100%;
        margin-left: 0;
    }
    .form .form-details input[type="text"] {
        margin-bottom: 0px;
    }
}
</style>



    <div class="container mt-5 contact">
        <div class="row">
            <!-- Contact Form -->
            <div class="col-lg-6 mb-4">
                <div class="card form">
                    <div class="form-txt">
                        <h1>Contact Us</h1>
                        <span>Feel free to reach out to us for any inquiries or feedback.</span>
                        <h3>Visit Our Store</h3>
                        <p>
                            GlamrShop Beauty Store<br>
                            123 Beautiful Street<br>
                            City, Country
                        </p>
                    </div>
                    <div class="form-details">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="text" name="name" placeholder="Your Name">
                            <input type="email" name="email" placeholder="Your Email">
                            <textarea name="message" placeholder="Your Message"></textarea>
                            <button type="submit">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Contact Information and Map -->
            <div class="col-lg-6 mb-4">
                <div class="card form">
                    <div class="form-txt">
                        <h1>Contact Information</h1>
                        <p>Email: info@glamrshop.com<br>Phone: +123 456 7890</p>
                        <div class="text-center">
                            <a href="#" class="mr-3"><i class="ion-logo-facebook h2 text-primary"></i></a>
                            <a href="#" class="mr-3"><i class="ion-logo-twitter h2 text-info"></i></a>
                            <a href="#" class="mr-3"><i class="ion-logo-instagram h2 text-danger"></i></a>
                        </div>
                    </div>
                    <div class="form-details">
                        <div class="mt-3">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12345.67890123456!2d0.000000!3d0.000000!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zODjCsDQwJzU2LjkiTiAwwrA1MCczMi42IkU!5e0!3m2!1sen!2us!4v1626281504228!5m2!1sen!2us"
                                width="100%"
                                height="200"
                                style="border:0;"
                                allowfullscreen=""
                                loading="lazy"
                            ></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
