





{% extends 'ecom/base.html' %}
{% load widget_tweaks %}

{% load static %}
{% block content %}
<style>
    .card {
       max-width: 600px;
       width: 100%;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
       padding: 20px;
       margin: auto;
       margin-top: 50px;
   }
   
   .form-group {
       margin-bottom: 20px;
   }
   
   .form-control {
       padding: 12px;
       font-size: 16px;
       border: none; /* Remove the default border */
       border-bottom: 1px solid black; /* Add a bottom border */
       background-color: transparent; /* Make the background transparent */
   }
   
   .alert-danger {
       color: #721c24;
       background-color: #f8d7da;
       border: 1px solid #f5c6cb;
       border-radius: 5px;
       padding: 10px;
       margin-bottom: 20px;
   }
   
   .btn-primary {
       background-color: grey;
       border: 1px solid grey; /* Add a border to the button */
       padding: 12px;
       font-size: 16px;
   }
   
   .btn-primary:hover {
       background-color: grey;
       border: 1px solid grey;
   }
   
   .forgot-password {
       text-align: center;
       margin-top: 10px;
   }
   
   </style>
<div class="card">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="text-center">Customer SignUp</h1>
    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <div class="form-group">
        {{ userForm.first_name.label_tag }}
        {{ userForm.first_name|add_class:"form-control" }}
    </div>
    <div class="form-group">
        {{ userForm.last_name.label_tag }}
        {{ userForm.last_name|add_class:"form-control" }}
    </div>
    <div class="form-group">
        {{ userForm.username.label_tag }}
        {{ userForm.username|add_class:"form-control" }}
    </div>
    <div class="form-group">
        {{ userForm.password.label_tag }}
        {{ userForm.password|add_class:"form-control" }}
    </div>
    <div class="form-group">
        {{ customerForm.address.label_tag }}
        {{ customerForm.address|add_class:"form-control" }}
    </div>
    <div class="form-group">
        {{ customerForm.mobile.label_tag }}
        {{ customerForm.mobile|add_class:"form-control" }}
    </div>
    <div class="form-group">
        {{ customerForm.profile_pic.label_tag }}
        {{ customerForm.profile_pic|add_class:"form-control" }}
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-block" value="Submit">
    </div>
    <div class="forgot-password">
        <span>
            <blockquote>| Already Have Account? | </blockquote>
            <a href="/customerlogin">Login Here!</a>
        </span>
    </div>
</form>
</div>
<br><br>
{% endblock %}
