{% extends 'ecom/base.html' %}
{% load widget_tweaks %}

{% load static %}
{% block content %}

<style>
 .card {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    border: none;
}

.form-group {
    margin-bottom: 20px;
}


.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.btn-primary {
    font-size: .114583333in;
    text-transform: uppercase;
    margin-top: 1.5rem;
    margin-right: 0;
    margin-bottom: 1.5rem;
    margin-left: 0;
    font-weight: 600;
    color: #fff;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    background: #343434;
    border-radius: 1.125pc;
    padding-top: 6.75pt;
    padding-right: 1.5625pc;
    padding-bottom: 6.75pt;
    padding-left: 1.5625pc;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary:hover {
    background-color: grey;
    border: 1px solid grey;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

</style>
<br><br><br><br><br>
<div class="wrap-banner">

    <!-- breadcrumb -->
    <nav class="breadcrumb-bg">
        <div class="container no-index">
            <div class="breadcrumb">
                <ol>
                    <li>
                        <a href="#">
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Login</span>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </nav>

</div>
<div class="card mt-5 ">
    <form method="post">
        {% csrf_token %}
        <h1 class="text-center title-page">Customer Login</h1>

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="form-group">
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password }}
        </div>

        <div class="">
            <input type="submit" class="btn btn-primary btn-block" value="Login">
        </div>

        <div class="forgot-password">
            <span>
                <a href="#">Forgot Password?</a>
                <blockquote>| Don't Have Account? | </blockquote>
                <a href="/customersignup">Sign Up Here!</a>
            </span>
        </div>
    </form>
</div>

<br><br>
{% endblock %}
