{% extends 'ecom/base.html' %}
{% load widget_tweaks %}
{% block content %}

  <style media="screen">
     .card {
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    padding: 12px;
    font-size: 16px;
    border: none; /* Remove the default border */
    border-bottom: 1px solid black; /* Add a bottom border */
    background-color: transparent; /* Make the background transparent */
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: grey;
    border: 1px solid grey; /* Add a border to the button */
    padding: 12px;
    font-size: 16px;
    width: 100%
}

.btn-primary:hover {
    background-color: grey;
    border: 1px solid grey;
}
  </style>

<!------ update page for doctor by admin(sumit)  ---------->
<div class="card">

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <h3>EDIT PROFILE</h3>
      </div>
      <div class="form-content">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {% render_field userForm.first_name class="form-control" placeholder="First Name" %}
            </div>
            <div class="form-group">
              {% render_field userForm.username class="form-control" placeholder="Username" %}
            </div>
            <div class="form-group">
              {% render_field customerForm.mobile class="form-control" placeholder="Mobile" %}
            </div>
            <div class="form-group">
              {% render_field customerForm.profile_pic class="form-control" placeholder="Profile Picture" %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {% render_field userForm.last_name class="form-control" placeholder="Last Name" %}
            </div>
            <div class="form-group">
              {% render_field userForm.password class="form-control" placeholder="Password" %}
            </div>
            <div class="form-group">
              {% render_field customerForm.address class="form-control" placeholder="Address" %}
            </div>

          </div>
        </div>
        <button type="submit" class="btnSubmit btn btn-primary btn-block">Edit</button>
      </div>
    </div>
  </div>
</form>
</div>
<!--
developed By : vernonthedev
-->

{% endblock content %}
