{% extends 'ecom/base.html' %}
{% load static %}

{% block content %}
 
 <!-- main content -->
  <div class="main-content">
    <div class="wrap-banner">


<!-- menu category -->
<div class="container position">
  <div class="section menu-banner d-xs-none">
      <div class="tiva-verticalmenu block">
          <div class="box-content">
              <div class="verticalmenu" role="navigation">
                  <ul class="menu level1">

                      {% for category in categories %}
                          <li class="item parent group">
                              <a href="{% url 'shop_category' category.slug %}" class="hasicon" title="FI">
                                  <i class="bi bi-shop-window"></i> {{ category.name }}
                              </a>
                              {% if category.subcategory_set.all %}
                                  <div class="dropdown-menu menu-2">
                                      <div class="menu-items">
                                          {% for subcategory in category.subcategory_set.all %}
                                              <div class="item">
                                                  <div class="menu-content">
                                                      <div class="tags">
                                                          <ul class="list-inline">
                                                              <li class="list-inline-item">
                                                                  <a href="#">{{ subcategory.name }}</a>
                                                              </li>
                                                          </ul>
                                                      </div>
                                                  </div>
                                              </div>
                                          {% endfor %}
                                      </div>
                                  </div>
                              {% endif %}
                          </li>
                      {% endfor %}

                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>



<!-- <style>
  .nivoSlider{
    height: 90vh;
  }
</style> -->


        <!-- slide show -->
        <div class="section banner myban">
            <div class="tiva-slideshow-wrapper">
                <div id="tiva-slideshow" class="nivoSlider">
                    <a href="#">
                        <img class="img-responsive" src="{% static 'banner-images/banner.jpg'%}" title="#caption1" alt="Veike online beauty shop image">
                    </a>
                    <a href="#">
                        <img class="img-responsive" src="{% static 'banner-images/beauty2.jpg'%}" title="#caption2" alt="Veike online beauty shop image">
                    </a>
                    <a href="#">
                        <img class="img-responsive" src="{% static 'banner-images/banner1.jpg'%}" title="#caption3" alt="Veike online beauty shop image">
                    </a>
                  <a href="#">
                    <img class="img-responsive" src="{% static 'banner-images/banner3.jpg'%}" title="#caption3" alt="Veike online beauty shop image">
                </a>
                <a href="#">
                  <img class="img-responsive" src="{% static 'banner-images/banner4.jpg'%}" title="#caption3" alt="Veike online beauty shop image">
              </a>
                </div>
            </div>
        </div>
    </div>



    <!-- main -->
    <div id="wrapper-site">
        <div id="content-wrapper" class="full-width">
            <div id="main">
                <section class="page-home">
                    <div class="container">

                        <!-- delivery form -->
                        <div class="section policy-home col-lg-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="block">
                                        <div class="block-content">
                                            <div class="policy-item">
                                                <div class="policy-content iconpolicy1">
                                                    <img src="{% static 'assets/img/home/home1-policy.png'%}" alt="img">
                                                    <div class="policy-name mb-5">FREE DELIVERY FROM UGX 500,000</div>
                                                    <div class="policy-des">Make your order and we will deliver</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tiva-html col-lg-4 col-md-4">
                                    <div class="block">
                                        <div class="block-content">
                                            <div class="policy-item">
                                                <div class="policy-content iconpolicy2">
                                                    <img src="{% static 'assets/img/home/home1-policy2.png'%}" alt="img">
                                                    <div class="policy-name mb-5">WHOLESALE POLICY</div>
                                                    <div class="policy-des">We also do wholesale procurement</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tiva-html col-lg-4 col-md-4">
                                    <div class="block">
                                        <div class="block-content">
                                            <div class="policy-item">
                                                <div class="policy-content iconpolicy3">
                                                    <img src="{% static 'assets/img/home/home1-policy3.png'%}" alt="img">
                                                    <div class="policy-name mb-5">MONEY BACK GUARANTEED</div>
                                                    <div class="policy-des">Refunds available for damaged products</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- product living room -->
                    <div class="section living-room">
                        <div class="container">
                            <div class="tiva-row-wrap row">
                                <div class="groupcategoriestab-vertical col-md-12 col-xs-12">
                                    <div class="grouptab row">
                                        <div class="categoriestab-right col-lg-3 align-items-start d-flex flex-column col-md-3 flex-3">
                                            <div class="block-title-content">
                                                <h2 class="title-block">
                                                    Shop Products
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="categoriestab-left product-tab col-md-9 flex-9">
                                            <div class="title-tab-content d-flex justify-content-start">
                                                <ul class="nav nav-tabs">
                                                  <li>
                                                    <a href="#sale" data-toggle="tab">Deal of the</a>
                                                </li>
                                                    <li>
                                                        <a href="#new" data-toggle="tab" class="active">New Arrivals</a>
                                                    </li>
                                                    <li>
                                                        <a href="#best" data-toggle="tab">Best Sellers</a>
                                                    </li>
                                                    <li>
                                                        <a href="#sale" data-toggle="tab">Special Products</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tab-content">
                                                <div id="new" class="tab-pane fade in active show">
                                                  
                                                    <div class="category-product-index owl-carousel owl-theme owl-loaded owl-drag">
                                                      {% if products %}
                                                      {% for product in products %}
                                                        <div class="item text-center">
                                                            <div class="product-miniature first-item js-product-miniature item-one">
                                                                <div class="thumbnail-container">
                                                                  <a href="{% url 'selected_product' product_name=product.name %}">
                
                                                                    {% if product.product_images.first %}
                                                                    <img class="img-fluid image-cover" src="{{ product.product_images.first.image.url }}" alt="{{ product.name }}">
                                                                    <img class="img-fluid image-secondary" src="{{ product.product_images.first.image.url }}" alt="{{ product.name }}">
                                                                {% else %}
                                                                    <!-- Provide a default image or leave it empty based on your design -->
                                                                    <img class="img-fluid image-cover" src="{% static 'default.jpg' %}" alt="{{ product.name }}">
                                                                {% endif %}

                                                                
                                                                </a>
                                                                    <div class="product-flags discount">-10%</div>
                                                                </div>
                                                                <div class="product-description">
                                                                    <div class="product-groups">
                                                                        <div class="product-title">
                                                                            <a href="#">{{ product.name }}</a>
                                                                        </div>
                                                                        <div class="rating">
                                                                            <div class="star-content">
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-group-price">
                                                                            <div class="product-price-and-shipping">
                                                                                <span class="price">UGX {{ product.selling_price }}</span>
                                                                                <del class="regular-price">UGX {{ product.discount_price }}</del>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-buttons d-flex justify-content-center">
                                                                        <form action="#" method="post" class="formAddToCart">
                                                                            <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                            </a>
                                                                        </form>
                                                                        <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                                                        </a>
                                                                        <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                      {% else %}
                                                      <p>No Products Available</p>
                                                      {% endif %}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <!-- banner -->
                        <div class="section spacing-10 group-image-special col-lg-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="effect">
                                        <a href="#">
                                            <img class="img-fluid" src="{% static 'banner-images/banner4.jpg'%}" alt="banner-1" title="banner-1">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="effect">
                                        <a href="#">
                                            <img class="img-fluid" src="{% static 'banner-images/banner3.jpg'%}" alt="banner-2" title="banner-2">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- best seller -->
                        <div class="section best-sellers col-lg-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="groupproductlist">
                                        <div class="row d-flex align-items-center">
                                            <!-- column 4 -->
                                            <div class="flex-4 col-lg-4 flex-4">
                                                <h2 class="title-block">
                                                    <span class="sub-title">Best sellers Products</span>Best Sellers
                                                </h2>
                                                <div class="content-text">
                                                    <p> All the best products ever made and sold at veike beauty supplies at your service
                                                    </p>
                                                    <div>
                                                        <a href="{% url 'shop'%}"> View all products </a>
                                                    </div>
                                                </div>
                                            </div>

                                           <!-- column 8 -->
<div class="block-content col-lg-8 flex-8">
  <div class="tab-content">
      <div class="tab-pane fade in active show">
          <div class="category-product-index owl-carousel owl-theme owl-loaded owl-drag">
              {% for product in products %}
                  <div class="item text-center">
                      <div class="product-miniature js-product-miniature item-one first-item">
                          <div class="thumbnail-container">
                              <a href="#">
                                {% if product.product_images.first %}
                                      <img class="img-fluid image-cover" src="{{ product.product_images.first.image.url }}" alt="{{ product.name }}">
                                      <!-- You can use product.images.first.image_secondary.url for the secondary image if available -->
                                  {% else %}
                                      <!-- Provide a default image or leave it empty based on your design -->
                                      <img class="img-fluid image-cover" src="{% static 'default.jpg' %}" alt="{{ product.name }}">
                                  {% endif %}
                              </a>
                              <div class="highlighted-informations">
                                  <div class="variant-links">
                                      <!-- Your variant links -->
                                  </div>
                              </div>
                          </div>
                          <div class="product-description">
                              <div class="product-groups">
                                  <div class="product-title">
                                      <a href="#">{{ product.name }}</a>
                                  </div>
                                  <div class="product-group-price">
                                      <div class="product-price-and-shipping">
                                          <span class="price">{{ product.selling_price }}</span>
                                          {% if product.discount_price %}
                                              <del class="regular-price">{{ product.discount_price }}</del>
                                          {% endif %}
                                      </div>
                                  </div>
                              </div>
                              <div class="product-buttons d-flex justify-content-center">
                                  <form action="#" method="post" class="formAddToCart">
                                      <input type="hidden" name="id_product" value="{{ product.pk }}">
                                      <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                      </a>
                                  </form>
                                  <a class="addToWishlist" href="#" data-rel="{{ product.pk }}" onclick="">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                  </a>
                                  <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              {% endfor %}
          </div>
      </div>
  </div>
</div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}