
                <!-- <div class="panel-body">
                    <form role="form" method="post">
                    <div class="form-group">
                        <label for="cardNumber">
                            CARD NUMBER</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cardNumber" placeholder="xxxx xxxx xxxx xxxx"
                                required autofocus />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-md-4 pull-left">
                            <div class="form-group">
                                <label for="expityMonth">
                                    MONTH</label>
                                    <input type="text" class="form-control" id="expityMonth" placeholder="MM - 02" required />
                            </div>
                        </div>

                        <div class="col-xs-4 col-md-4">
                            <div class="form-group">
                                <label for="expityYear">
                                    EXPIRY DATE</label>
                                    <input type="text" class="form-control" id="expityYear" placeholder="YY - 22" required />
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-4 pull-right">
                            <div class="form-group">
                                <label for="cvCode">
                                    CV CODE</label>
                                <input type="password" class="form-control" id="cvCode" placeholder="CV - xxx" required />
                            </div>
                        </div>
                    </div>
                    </form>
                </div> -->

{% extends 'ecom/base.html' %}
{% load widget_tweaks %}

{% load static %}
{% block content %}

<style>
 .card {
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    padding: 12px;
    font-size: 16px;
    border: none; /* Remove the default border */
    border-bottom: 1px solid black; /* Add a bottom border */
    background-color: transparent; /* Make the background transparent */
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: grey;
    border: 1px solid grey; /* Add a border to the button */
    padding: 12px;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: grey;
    border: 1px solid grey;
}


</style>

<div class="card">
    <h3>Payment Details</h3>

        <div class="form-group">
            <li class="active"><span class="badge pull-right"><b>UGX {{ total }}</b></span> Final Payment</li>
            <a type="submit" class="btn btn-primary btn-block">Make Order</a>
        </div>

</div>

<br><br>
{% endblock %}
