
{% extends 'ecom/base.html' %}
{% load static %}

{% block content %}

<style>
    .card{
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    overflow-x: auto; /* Make the container horizontally scrollable */
  }
  .price{
    font-weight: bolder;
    font-size: large;
  }
  .desc{
    font-weight: bolder;
  }
</style>




<br><br><br><br><br>
    <!-- main content -->
    {% if selected_product %}
    <div class="main-content">
      <div id="wrapper-site">
          <div id="content-wrapper">
              <div id="main">
                  <div class="page-home">

                      <!-- breadcrumb -->
                      <nav class="breadcrumb-bg">
                          <div class="container no-index">
                              <div class="breadcrumb">
                                  <ol>
                                      <li>
                                          <a href="#">
                                              <span>Home</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">
                                              <span>{{selected_product.category.name}}</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">
                                              <span>{{selected_product.name}}</span>
                                          </a>
                                      </li>
                                  </ol>
                              </div>
                          </div>
                      </nav>
                      <div class="container">
                          <div class="content">
                              <div class="row">
                                  <div class="sidebar-3 sidebar-collection col-lg-3 col-md-3 col-sm-4">
                                    <!-- category panel section -->
                                  </div>
                              
                                  <div class="col-sm-8 col-lg-9 col-md-9 mt-3">
                                      <div class="main-product-detail">
                                          <h4>{{ selected_product.name }}</h4>
                                          <div class="product-single row">
                                              <div class="product-detail col-xs-12 col-md-5 col-sm-5">
                                                  <div class="page-content" id="content">            
                                                      <div class="images-container">
                                                          <div class="js-qv-mask mask tab-content border">
                                                              <div id="item1" class="tab-pane fade active in show">
                                                                <div id="item1" class="tab-pane fade active in show">
                                                                  {% if selected_product.product_images.exists %}
                                                                      {% with first_image=selected_product.product_images.first %}                                                                          
                                                                          <img src="/media/{{ first_image.image }}" alt="{{ selected_product.name }}" width="100%">
                                                                      {% endwith %}
                                                                  {% else %}
                                                                   <!-- DEFAULT IMAGE -->
                                                                      <img src="{% static 'default.jpg' %}" alt="{{ selected_product.name }}" width="60px">
                                                                  {% endif %}
                                                              </div>
                                                              </div>
                                                             
                                                              <div id="item2" class="tab-pane fade">
                                                                {% if selected_product.product_images.exists %}
                                                                      {% with first_image=selected_product.product_images.first %}                                                                          
                                                                          <img src="/media/{{ first_image.image }}" alt="{{ selected_product.name }}" width="100%">
                                                                      {% endwith %}
                                                                  {% else %}
                                                                   <!-- DEFAULT IMAGE -->
                                                                      <img src="{% static 'default.jpg' %}" alt="{{ selected_product.name }}" width="60px">
                                                                  {% endif %}
                                                              </div>
                                                           
                                                              <div class="layer hidden-sm-down" data-toggle="modal" data-target="#product-modal">
                                                                  <i class="fa fa-expand"></i>
                                                              </div>
                                                          </div>
                                                          <ul class="product-tab nav nav-tabs d-flex">
                                                            {% for image in selected_product.product_images.all%}
                                                              <li class=" col">
                                                                  <a href="#item1" data-toggle="tab" aria-expanded="true" class="active show">
                                                                    <img src="/media/{{ MEDIA_URL }}{{ image.image }}" alt="{{ selected_product.name }}" width="60px" height="60px">
                                                                  </a>
                                                              </li>
                                                              {% endfor %}
                                                              
                                                          </ul>
                                                          <div class="modal fade" id="product-modal" role="dialog">
                                                              <div class="modal-dialog">

                                                                  <!-- Modal content-->
                                                                  <div class="modal-content">
                                                                      <div class="modal-header">
                                                                          <div class="modal-body">
                                                                              <div class="product-detail">
                                                                                  <div>
                                                                                      <div class="images-container">
                                                                                          <div class="js-qv-mask mask tab-content">
                                                                                              <div id="modal-item1" class="tab-pane fade active in show">
                                                                                                {% if selected_product.product_images.exists %}
                                                                                                {% with first_image=selected_product.product_images.first %}                                                                          
                                                                                                    <img src="/media/{{ first_image.image }}" alt="{{ selected_product.name }}" width="100%">
                                                                                                {% endwith %}
                                                                                            {% else %}
                                                                                             <!-- DEFAULT IMAGE -->
                                                                                                <img src="{% static 'default.jpg' %}" alt="{{ selected_product.name }}" width="60px">
                                                                                            {% endif %}
                                                                                              </div>

                                                                                              <div id="modal-item2" class="tab-pane fade">
                                                                                                  <img src="img/product/2.jpg" alt="img">
                                                                                              </div>
                                                                                          </div>
                                                                                          <ul class="product-tab nav nav-tabs">
                                                                                            {% for image in selected_product.product_images.all%}
                                                                                              <li class="active">
                                                                                                  <a href="#modal-item1" data-toggle="tab" class=" active show">
                                                                                                    <img src="/media/{{ MEDIA_URL }}{{ image.image }}" alt="{{ selected_product.name }}" width="60px" height="60px">
                                                                                                  </a>
                                                                                              </li>
                                                                                              {% endfor %}
                              
                                                                                          </ul>
                                                                                      </div>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="product-info col-xs-12 col-md-7 col-sm-7 card">
                                                  <div class="detail-description">
                                                      <div class="price-del">
                                                          <span class="price">UGX {{selected_product.selling_price}} |  UGX  <del>{{selected_product.discount_price}}</del></span>
                                                          <span class="float-right">
                                                              <span class="availb">Availability: {{selected_product.number_in_stock}}</span>
                                                              <span class="check">
                                                                  <i class="fa fa-check-square-o" aria-hidden="true"></i>IN STOCK</span>
                                                          </span>
                                                      </div>
                                                      <p class="description">{{selected_product.short_description}}</p>

                                                      <hr>

                                                      <div class="has-border cart-area">
                                                          <div class="product-quantity">
                                                              <div class="qty">
                                                                  <div class="input-group">
                                                                      <div class="quantity">
                                                                          <span class="control-label">QTY : </span>
                                                                          <input type="text" name="qty" id="quantity_wanted" value="1" class="input-group form-control">

                                                                          <span class="input-group-btn-vertical">
                                                                              <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-up" type="button">
                                                                                  +
                                                                              </button>
                                                                              <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-down" type="button">
                                                                                  -
                                                                              </button>
                                                                          </span>
                                                                      </div>

                                                                      <span class="add" style="padding-left: 20px;">
                                                                        

                                                                          <form action="{% url 'add-to-cart' selected_product.id %}" method="post" class="formAddToCart">
                                                                            {% csrf_token %}
                                                                            <input type="hidden" name="id_product" value="{{ selected_product.id }}">
                                                                            <button type="submit" class="btn btn-primary add-to-cart add-item" data-button-action="add-to-cart">
                                                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                Add to Cart
                                                                            </button>
                                                                        </form>
                                                                      </span>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="clearfix"></div>
                                                          <p class="product-minimal-quantity">
                                                          </p>
                                                      </div>

                                                      <hr>

                                                      <div class="review">
                                                        <ul class="nav nav-tabs">
                                                            <li class="active">
                                                                <a data-toggle="tab" href="#description" class="active show desc">Description</a>
                                                            </li>
                                                            
                                                        </ul>
                                
                                                        <div class="tab-content">
                                                            <div id="description" class="tab-pane fade in active show">
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem
                                                                    ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                                    tempor incididunt ut labore et dolore magna aliqua.
                                                                </p>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem
                                                                    ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                                    tempor incididunt ut labore et dolore magna aliqua.
                                                                </p>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                  </div>
                                              </div>
                                          </div>
                    
                                         
                                      </div>
                                  </div>
                                  {% endif %}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <br><br>

{% endblock %}